.background{
		background-image: url("../images/pearlJam.jpg");
		background-repeat: no-repeat;
		background-position:  center;
		height: 400px;
	 }
	 
@font-face {
  font-family: 'Embedded Font';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

a {
		font-family: monospace;
		font-weight: none;
	}
	
a:link {
	  color: Green;
	  text-decoration: none;
	}

a:visited {
	color: Red;
}

a:hover {
 
 text-decoration: underline;
 background-color: green;
}

a:active {
	font-weight:bold;
}


li{
	font-style: italic;
}
.embeddedfont{
	font-family: 'Embedded Font';
}

tbody tr:nth-child(even){
	background-color: #00FFFF;
}
tbody tr:nth-child(odd){
	background-color: #ADD8E6;
} 