
@font-face {
  font-family: 'Embedded Font';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.embeddedfont{
	font-family: 'Embedded Font';
	font-size: 225%;
}

table.foodtable{
	margin-left:auto; 
    margin-right:auto;
}
.menuheaders {
	font-weight: bold;
	font-size: 150%;
}

.bevtable{
	margin-left:auto; 
    margin-right:auto;
	width: 200px;
	text-align: center;
}

.food{
	width: 500px;
	text-align: center;
}

.description{
	padding-top:  10px;
	width:  400px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#body{
	margin: 0;
    min-height: 300px;
    padding-left: 40px;
    padding-top: 25px;
}
#bevname{
	text-align: left;
}

h1{
	text-align:center;
}


	
a:link {
	  padding-right: 30px;
	}
	
body{
	margin: 0;
    height: 100%;
    padding-left: 40px;
    padding-top: 25px;
}
