
@font-face {
  font-family: 'Embedded Font';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.embeddedfont{
	font-family: 'Embedded Font';
	font-size: 225%;
}

table.foodtable{
	margin-left:auto; 
    margin-right:auto;
}
.menuheaders {
	font-weight: bold;
	font-size: 150%;
}

.bevtable{
	margin-left:auto; 
    margin-right:auto;
	width: 200px;
	text-align: center;
}

.food{
	width: 500px;
	text-align: center;
}

#bevname{
	text-align: left;
}
#footer{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	text-align: center;
}

h1{
	text-align:center;
}


	
a:link {
	  padding-right: 30px;
	  color: Blue;
	}

a:visited {
	color: Orange;
	
}

a:hover{
	font-weight: bold;
}

a:active{
	text-decoration: none;
	color: green;
}